<form class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Sign up
                </p>

                <form
                  (ngSubmit)="register(signupform)"
                  #signupform="ngForm"
                  class="mx-1 mx-md-4"
                >
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example18"
                      >Email address</label
                    >
                    <input
                      type="email"
                      id="form2Example18"
                      class="form-control form-control-lg"
                      name="email"
                      ngModel
                      required
                      email
                      #emailModel="ngModel"
                      [ngClass]="
                        emailModel.invalid &&
                        (emailModel.dirty || emailModel.touched)
                          ? 'is-invalid'
                          : ''
                      "
                    />
                    <div
                      *ngIf="emailModel.invalid"
                      id="validationServerUsernameFeedback"
                      class="invalid-feedback"
                    >
                      Please Enter the valid email.
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example28"
                      >Password</label
                    >
                    <input
                      type="password"
                      id="form2Example28"
                      class="form-control form-control-lg"
                      name="password"
                      ngModel
                      required
                      password
                      #passwordmodel="ngModel"
                      minlength="4"
                      maxlength="12"
                      [ngClass]="
                        passwordmodel.invalid &&
                        (passwordmodel.dirty || passwordmodel.touched)
                          ? 'is-invalid'
                          : ''
                      "
                    />
                    <div
                      *ngIf="passwordmodel.invalid"
                      id="validationServerUsernameFeedback"
                      class="invalid-feedback"
                    >
                      Please Enter the valid password.
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example28"
                      >Confirm Password</label
                    >
                    <input
                      type="password"
                      id="cform2Example28"
                      class="form-control form-control-lg"
                      name="cpassword"
                      ngModel
                      required
                      password
                      #cpasswordmodel="ngModel"
                      minlength="4"
                      maxlength="12"
                      [ngClass]="
                        (cpasswordmodel.dirty || cpasswordmodel.touched) &&
                        !(passwordmodel.value === cpasswordmodel.value)
                          ? 'is-invalid'
                          : ''
                      "
                    />
                    <div
                      *ngIf="cpasswordmodel.invalid"
                      id="validationServerUsernameFeedback"
                      class="invalid-feedback"
                    >
                      Password mismatch
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-lg"
                      [disabled]="signupform.invalid"
                    >
                      Register
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
