<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand me-2" href="">
      <img
        src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg"
        height="16"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/order" routerLinkActive="active"
              >Orders</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart" routerLinkActive="active"
              >Cart {{ getcount() }}</a
            >
          </li>
        </ul>
      </div>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <!-- <button type="button" routerLink="/Login" routerLinkActive="active" class="btn btn-link px-3 me-2">Login</button>
        <button type="button "routerLink="/register" routerLinkActive="active" class="btn btn-primary me-3">
          Sign up for free
        </button> -->
        <button
          type="button"
          (click)="loggedout()"
          class="btn btn-primary px-3 me-2"
        >
          Logout
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
